@import url("https://fonts.googleapis.com/css2?family=Changa&family=Roboto+Condensed&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
}

.navbar {
  background-color: #023047;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: #8ecae6 0 5px 10px;

  &__logo {
    margin: 0 1em;
    padding: 0 2em;
    width: 12em;
  }

  &__brand {
    font-family: "Changa", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.chatbot {
  text-align: center;

  &__frame {
    width: 70vw;
    height: 65vh;
    border-radius: 15px;
    box-shadow: #c6ac8f 0 0 1em;
  }
}
